<!DOCTYPE html>
<html>

<head>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/pure/pure-min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="{{ base_path }}/css/pure/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ base_path }}/css/pure/grids-responsive-min.css">
    <!--<![endif]-->

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/logos/logo@16px.png" sizes="16x16">
    <link rel="apple-touch-icon" sizes="16x16" href="/logos/logo@16px.png">
    <link rel="icon" type="image/png" href="/logos/logo@32px.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="32x32" href="/logos/logo@32px.png">
    <link rel="icon" type="image/png" href="/logos/logo@96px.png" sizes="96x96">
    <link rel="apple-touch-icon" sizes="96x96" href="/logos/logo@96px.png">
    <link rel="icon" type="image/png" href="/logos/logo@120px.png" sizes="120x120">
    <link rel="apple-touch-icon" sizes="120x120" href="/logos/logo@120px.png">
    <link rel="icon" type="image/png" href="/logos/logo@144px.png" sizes="144x144">
    <link rel="apple-touch-icon" sizes="144x144" href="/logos/logo@144px.png">
    <link rel="shortcut icon" href="/logos/logo@32px.png">
</head>

<body id="{{ slug }}">

    <div class="pure-g">
        <div class="pure-u-1-12"></div>
        <div class="pure-u-1-6">
            <img src="/logos/logo@96px.png"></img>
        </div>
        <div class="pure-u-2-3">
            <div id="menu-blog">
                <a href="/">Blog</a>
                <a href="#">Archives</a>
                <a href="#">Recherche</a>
            </div>
        </div>
        <div class="pure-u-1-12"></div>
    </div>

    <div class="pure-g banner">
        <div class="pure-u-1">
            <h1>{{ title }}</h1>
            <h2>{{ subtitle }}</h2>
        </div>
    </div>

    <div class="pure-g">
        <div class="pure-u-1-4"></div>
        <div class="pure-u-1-2">{{ content }}</div>
        <div class="pure-u-1-4"></div>
    </div>

    <footer>
        <section>
            <p>
                <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/fr/"><img src="/license.png"></a>
            </p>
            <p>
                <a href="https://github.com/kianby/blog">Makesite.py</a>
                <a href="https://github.com/kianby/stacosys">Stacosys</a>
            </p>
        </section>
    </footer>

</body>

</html>