<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/knacss.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/logos/logo@16px.png" sizes="16x16">
    <link rel="apple-touch-icon" sizes="16x16" href="/logos/logo@16px.png">
    <link rel="icon" type="image/png" href="/logos/logo@32px.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="32x32" href="/logos/logo@32px.png">
    <link rel="icon" type="image/png" href="/logos/logo@96px.png" sizes="96x96">
    <link rel="apple-touch-icon" sizes="96x96" href="/logos/logo@96px.png">
    <link rel="icon" type="image/png" href="/logos/logo@120px.png" sizes="120x120">
    <link rel="apple-touch-icon" sizes="120x120" href="/logos/logo@120px.png">
    <link rel="icon" type="image/png" href="/logos/logo@144px.png" sizes="144x144">
    <link rel="apple-touch-icon" sizes="144x144" href="/logos/logo@144px.png">
    <link rel="shortcut icon" href="/logos/logo@32px.png">

    <!-- RSS -->
    <link type="application/atom+xml" rel="alternate" href="{{ site_url }}/rss.xml" title="{{ title }}" />
</head>
<body>

    <div class="grid-2">
        <div><a href="/"><img src="/logos/logo@96px.png"></img></a></div>
        <div class="txtright" id="menu-blog">
            <a href="/">Blog</a>
            <a href="/archives.html">Archives</a>
        </div>
    </div>

    {{ header }}

    <div class="grid-4">
        <div></div>
        <div class="col-2">{{ content }}</div>
        <div></div>
    </div>

    {{ footer }}

    <footer>
    <div class="grid-2">
        <div><a href="https://creativecommons.org/licenses/by-nc-sa/3.0/fr/"><img src="/license.png"></a></div>
        <div class="txtright">
            <a href="https://github.com/kianby/blog">Makesite.py</a>
            <a href="https://github.com/kianby/stacosys">Stacosys</a>
        </div>
    </div>
    </footer>

</body>
</html>
