/* font * /

/* cyrillic-ext */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Merriweather Regular'), local('Merriweather-Regular'), url(/fonts/merriweather/Merriweather-Regular.ttf) format('truetype');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Merriweather Regular'), local('Merriweather-Regular'), url(/fonts/merriweather/Merriweather-Regular.ttf) format('truetype');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Merriweather Regular'), local('Merriweather-Regular'), url(/fonts/merriweather/Merriweather-Regular.ttf) format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Merriweather Regular'), local('Merriweather-Regular'), url(/fonts/merriweather/Merriweather-Regular.ttf) format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Merriweather Regular'), local('Merriweather-Regular'), url(/fonts/merriweather/Merriweather-Regular.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* General */

html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-feature-settings: "dlig", "liga", "lnum", "kern";
    font-kerning: auto;
    font-language-override: normal;
    font-optical-sizing: auto;
}

p, li {
    font-feature-settings: "kern", "onum", "liga";
    font-kerning: auto;
    font-language-override: normal;
    font-optical-sizing: auto;    
    font-family: Georgia, serif;
    font-size: 22px;
    font-stretch: 100%;
    font-weight: 400;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;    
    line-height: 38px;
    vertical-align: baseline;
    color: rgb(56, 71, 67);
}

h1, h2, h3, h4, h5, h6 {
    color: #05bf85;
}

h1 {
    font-size: 200%;
}

a:link, a:visited {
    color: #05bf85;
    text-decoration: none;
}

a:hover, a:active {
    color:green;
}

.banner div {
    background-image: url(/fond.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width: 100%;
    line-height: 132px;
    text-align: center;
    vertical-align: middle;
    font-family: "Merriweather", serif;    
}

.banner div > h1 {
    color: rgb(36, 46, 43);
    vertical-align: baseline;
    font-size: 250%;
}

.banner div > h2 {
    font-weight: 400;
    font-size: 150%;
    color: rgb(56, 71, 67);
    vertical-align: baseline;
}


#menu-blog {
    line-height: 96px;
    vertical-align: middle;
}

#menu-blog a {
    font-size: 150%;
    padding-right: 20px;
}

.post {
    margin-left: 1em;
    margin-right: 1em;
}

.summary {
    margin-top: 0px;
}

.article > h1 {
    margin-bottom: 0px;
}

.meta {
    margin-top: 0px;
    margin-bottom: 0px;
}

.meta > span {
    display: inline;
    margin-right: 10px;
}

.meta-post {
    margin-top: 0px;
    margin-bottom: 24px;
}

.meta-post > span {
    display: inline;
    margin-right: 10px;
}

.hidden { 
    display: none;
}

.comment-separator { 
    height:1px;
    background:#717171;
    border-bottom:2px solid #6E9CC7;
    margin-bottom: 8px;
}

.comment-indicator {
    color: coral;
}

.comment-author {
    font-weight: bold; 
}

.comment-detail {
    margin-bottom: 25px;
}

.comment-body {
    margin-left: 42px;
}

/* Footer */
footer {
    background: #f0f0f0;
    border-top: thin solid #e0e0e0;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    padding: 1em 0;
    box-shadow: 0 100vh 0 100vh #f0f0f0;
}
